.card_feature-p{
    font-family: NunitoSans;
    font-weight: 800;
    font-size: 12px;
    color: transparent;
    letter-spacing: 0.02em;
    background: linear-gradient(25deg, #0d748b 0%, #1a0b73 100%);
    background-clip: text;
    text-transform: uppercase;
    
}