.navigation_text{
    color: rgba(48, 50, 57, 1);
    font-size: 16px;
    text-decoration: none;
    display: inline;
    font-family: NunitoSans;
    font-weight: normal;
    font-style: normal;
}

.navigation_text:hover{
    opacity: 0.7;
}