.footer_button-title{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: end;
    font-family: NunitoSans;
    font-weight: 700;
    font-weight: bold;
    border: none;
}