.card_button{
    height: 44px;
    width: 100%;
    background-image: linear-gradient(25deg, #0d748b 0%, #1a0b73 100%);
    color: rgba(255, 255, 255, 1);
    font-family: NunitoSans;
    font-weight: 700;
    font-size: 14px;
    border: none;
}

.card_button:hover{
    box-shadow: 0 4px 20px rgba(26, 11, 115, 0.4);
}

.card_button:active{
    background-image: 
    linear-gradient(rgba(24, 21, 75, 0.6), rgba(24, 21, 75, 0.6)),
    linear-gradient(45deg, rgba(13, 116, 139, 1)5%, rgba(26, 11, 115, 1) 70%);
}

.card_button:disabled{
    opacity: 0.5;
}